* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: $regular-font;
  font-family: $font-family;
  color: $font-color;
}

.page {
  background-color: $main-background-color;
}

.dark-screen {
  background-color: #82e0aa;
  opacity: 0.35;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.dark-screen__active {
  display: block;
}