.game-field_game {
  background-color: #ffffff;
  display: grid;
  border-radius: 2px;
  gap: 5px;
  padding: 5px;
}

.game-field_game__10 {
  grid-template-columns: repeat(10, 1fr);
  width: 455px;

  @media screen and (max-width: 805px) {
    width: 355px;
  }

  @media screen and (max-width: 410px) {
    width: 305px;
  }

  @media screen and (max-width: 350px) {
    width: 275px;
  }

}