// paddings
$main-padding: 15px;

// fonts
$title-font: 25px;
$regular-font: 15px;
$hover-font: 16.5px;
$font-family: "Inconsolata", monospace;
$font-color: #0e4123;

// colors

//OLD COLORS
$main-color: #82e0aa;
$main-color-border: #196f3d;
$main-background-color: #f5eef8;

$game-background-color: #fedf41;

//----------------------------------------------------

$text-dark-theme: #ede696;
$text-light-theme: #3b452c;

$game-field: #6d7c42;
$game-field-cell-primary: #ecd839;
$game-field-cell-stroke: #b7a71e;

$background-light-theme: #f5f5f5;
$background-dark-theme: #3b452c;
// input
// $text-field-height: 45px;

$new-game-button-background: #ecd839;
$load-game-button-background: #6d7c42;
$save-game-button-background: #dc452c;

$new-game-button-font-color: #3b452a;
$load-game-button-font-color: #ede696;
$save-game-button-font-color: #ede696;

$toggle-theme-background: #ffffff;
$toggle-theme-stroke: #6d7c42;
$toggle-theme-thumb: #ede696;

$stopwatch-time-unit-background: #ffffff;

$screen-width-s: 575px;
$screen-width-m: 767px;
$screen-width-l: 991px;
$screen-width-xl: 1199px;
$screen-width-xxl: 1399px;