// paddings
$main-padding: 15px;

// fonts
$title-font: 25px;
$regular-font: 15px;
$hover-font: 16.5px;
$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-color: #0e4123;

// colors
$main-color: #82e0aa;
$main-color-border: #196f3d;
$main-background-color: #f5eef8;

$game-background-color: #fedf41;
// input
$text-field-height: 45px;